.hero {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('/static/images/landing_image.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.landing-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 85vh;
    color: #fff;
}

.centerCTA {
    display: flex;
    height: 100%;
}

#title {
    font-size: 3rem;
}

#subtitle {
    font-size: 1.5rem;
    line-height: 1.5;

}

#register_button {
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
}


