{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/landing.css">

<body>
                {% include 'navbar.html' %}

    <div class="landing-container hero">


    <section class="">

                <div class="container" >
                    <div class="center_CTA">
                        <h1 id="title">
                            Never re-invent the wheel again.
                        </h1>
                        <h2 id="subtitle">
                            Torshare supports policy, program and development professionals to share documents
                            and experience to deliver better outcomes.
                        </h2>
                            <div id="register_button">

                                <a href="{% url 'register_login' %}">
                                    <button class="button">Register Now</button>
                                </a>


                            </div>
                    </div>
                </div>


    </section>
    </div>

</body>


{% endblock content %}