{%  extends 'base.html' %}

{% block content %}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'landing' %}">
        <p><span class="tor">Tor</span><span class="share">Share </span>
            <span class="icon">
                <i class="fa-solid fa-diagram-project"></i>
            </span>
        </p>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-right">

      <a class="navbar-item" href="{% url 'project_list' %}">
          <span class="icon">
              <i class="fa fa-list-check"></i>
          </span>
        Projects
      </a>

      <a class="navbar-item" href="{% url 'user_list' %}">
          <span class="icon">
              <i class="fa fa-users"></i>
          </span>
        Users
      </a>

        <a class="navbar-item" href="{% url 'register_login' %}">
            <span class="icon">
                <i class="fa fa-sign-in"></i>
            </span>
        Login
      </a>

      </div>
    </div>
  </div>
</nav>




{% endblock content %}